{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "INFLUX_URL": "",
    "INFLUX_TOKEN": "",
    "INFLUX_ORG": "",
    "INFLUX_BUCKET": "",
    "INFLUX_MEASUREMENT": "",
    "INFLUX_FIELDS": "",
    "INFLUX_RANGE_START": "-24h",
    "INFLUX_TAG_COLUMNS": "ARC,Equipment\\\\Type,Machine\\\\Name,Project\\\\No,Section\\\\Type,Tower\\\\No",
    "INFLUX_AGG_EVERY": "1m",
    "INFLUX_AGG_FN": "mean",
    "INFLUX_CREATE_EMPTY": "true",
    "INFLUX_TIMEOUT_MS": "120000"
  }
}
